{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Change Password</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome5-overrides.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.min.css' %}">
</head>

<body class="bg-gradient-primary" style="background: rgb(31,40,69);">
    <div class="container">
        <div class="row justify-content-center main-card">
            <div class="col-md-9 col-lg-12 col-xl-10">
                <div class="card shadow-lg o-hidden border-0 my-5" style="border-radius: 16px;">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-flex">
                                <div class="flex-grow-1 bg-login-image" style="background: url(&quot;https://user-images.githubusercontent.com/42594454/119937043-c0cc7300-bfa7-11eb-82cd-5de0964fb595.png&quot;) center;"></div>
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h4 class="text-dark mb-4" style="font-weight: bold;font-size: 29px;">Password Confirmation</h4>
                                        <h3 class="text-dark mb-4" style="font-weight: bold;font-size: 15px;">Please create a password phrase for security purpose (A minimum of 8 words would be apt)</h3>
                                        <form class="user" method="post">
                                            {% csrf_token %}
                                            <div class="form-group"><input class="form-control form-control-user" type="password" id="id_new_password1" placeholder="Enter New Password" name="new_password1"></div>
                                            <div class="form-group"><input class="form-control form-control-user" type="password" id="id_new_password2" placeholder="Confirm New Password" name="new_password2"></div>
                                            <button class="btn btn-primary btn-block text-white btn-user" type="submit">Conifrm</button>
                                            <br> {% if message %}
                                            <p style="color: red;">{{message}}</p>
                                            {% endif %}
                                            <!-- <hr> -->
                                        </form>
                                        <!-- <div class="text-center"><a class="small" href="{% url 'reset_password'  %}">Forgot Password?</a></div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
        <script src="{% static 'js/script.min.js' %}"></script>
</body>

</html>